
.pro-img-section img {
    position: relative;
    border-radius: 10px;
    height: 563px;
}
.topic {
    position: relative;
    padding-top: 80px;
  
}
.topic h3 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 40px;
}

.customer h1 {
    color: rgb(89, 124, 89);
    position: relative;
    padding-right: 132px;
    margin-top: 30px;
}
.customer p {
    position: relative;
    color: black;
    padding-top: 12px;
    font-weight: 400;
    font-size: 20px;
}
.topic p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 29px;
}
.professional-topic {
    padding: 0 20px;
}